@import
	url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap")
	;

body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: "Montserrat", serif;
	color: #fff;
	font-size: 48px;
}



div {
	display: flex;
	flex-direction: row;
	color: #fff;
}

select {	
	width: 100%;
	border: none;
	outline: none;
	border: 0.15em solid #ffffff;
	border-bottom: 0.15em solid #ff474a;
	font-size: 20px;
	font-weight: 200!important;
	padding: 10px 9px;
	color: #000;
}

select:focus {
	border: 0.15em solid rgb(171, 217, 255);
}

input {
	font-family: "Montserrat", serif;
	font-size: 20px;
	font-weight: 200;
	color: #000;
	padding: 20px 20px;
	outline: none;
	border: 3px solid #fff;
	width: 100%!important;
	border: 0.1em solid #ffffff;
	border-bottom: 0.1em solid #ff474a;
}

input:focus {
	border: 3px solid rgb(171, 217, 255);
}

a {
	font-family: "Montserrat", serif;
	font-size: 0.3em;
	color: #fff;
	font-weight: 200;
	text-decoration: none;
}

button {
	font-family: "Montserrat", serif;
	font-size: 25px;
	letter-spacing: 1px;
	padding: 25px 12px;
	border: none;
	cursor: pointer;
}

button[class="info"] {
	background-color: #ff474a;
	color: #fff;

}

button[class="info"]:hover {
	background-color: #c53f44;
}

button[class="info"]:active {
	background-color: #942d31;
}


button[class="save"] {
	background-color: #ff474a;
	color: #fff;
}

button[class="save"]:hover {
	background-color: #c53f44;
}

button[class="save"]:active {
	background-color: #942d31;
}

button[class="cancel"] {
	background-color: #B0383A;
	color: #fff;
}

button[class="cancel"]:hover {
	background-color: #7D2829;
}

button[class="cancel"]:active {
	background-color: #571C1D;
}


input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 2px;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 2px;
}

input:-ms-input-placeholder {
	/* IE 10+ */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 2px;
}

input:-moz-placeholder {
	/* Firefox 18- */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 2px;
}

input[class="search"] {
	background-color: #ff473a;
	border: 3px solid #fff;
	font-family: "Montserrat", serif;
	font-size: 17px;
	font-weight: 200;
	color: #fff;
}

input[class="search"]:focus {
	background-color: #ff584d;
}

input[class="search"]::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 200;
	color: #fff;
}

input[class="search"]::-moz-placeholder {
	/* Firefox 19+ */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 200;
	color: #fff;
}

input[class="search"]:-ms-input-placeholder {
	/* IE 10+ */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 200;
	color: #fff;
}

input[class="search"]:-moz-placeholder {
	/* Firefox 18- */
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 200;
	color: #fff;
}

input[class="event"] {
	background-color: #fff;
	border: none;
	font-family: "Montserrat", serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff473a;
	flex-grow: 1;
}


input[class="event"]:focus {
	background-color: #fff4f4;
}

input[class="event"]::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: "Montserrat", serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff473a;
}

input[class="event"]::-moz-placeholder {
	/* Firefox 19+ */
	font-family: "Montserrat", serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff473a;
}

input[class="event"]:-ms-input-placeholder {
	/* IE 10+ */
	font-family: "Montserrat", serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff473a;
}

input[class="seareventch"]:-moz-placeholder {
	/* Firefox 18- */
	font-family: "Montserrat", serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff473a;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.base {
	width: 100vw;
	overflow: hidden;
}

.accessBackground {
	height: 100vh;
	background: url("assets/photoDefault.svg");
	opacity: 0.6;
	background-repeat: no-repeat;
	background-position: -270px -1px;
	background-size: auto 100%;
}

.accessBase {
	flex-direction: column;
	font-family: "Montserrat", serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	font-weight: 800;
	color: #fdfdfd;
}

@media screen and (min-width: 1000px) {
	.accessBase {
		width: 900px;
	}
			.background .homeButton button {
		font-size:22px!important;
		justify-content:center;
		align-items:center;
		padding:30px 10px!important;
	}
	#logo {
	font-size:1.5em!important;
}
}

@media screen and (max-width: 950px) {

		.background .homeButton button {
		font-size:18px!important;
		justify-content:center;
		align-items:center;
		padding:30px 10px!important;
	}
		#logo {
	font-size:49px!important;
}

}

@media screen and (max-width: 650px) {

		.background .homeButton button {
		font-size:15px!important;
		justify-content:center;
		align-items:center;
		padding:25px 15px!important;
	}
		#logo {
	font-size:43px!important;
}
	
}

.accessTitle {
	font-family: "Montserrat", serif;
	width: 60%;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #fdfdfd;
	line-height: 1.3em;
	margin-bottom: 70px;
}

.accessAddress {
	color: #fff;
	font-size: 0.4em;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 22px;
	margin-bottom: 50px;
}

.accessForm {
	display: flex;
	flex-direction: column;
}

.accessForm>form {
	display: flex;
	flex-direction: column;
	margin-bottom: 4px;
}

.accessForm>form>input {
	margin-bottom: 2px;
}

.accessForm>form>button {
	width: 100%;
	margin-bottom: 10px;
}

.accessForm>form>:nth-child(3) {
	justify-content: flex-end;
	padding-top: 3px;
	padding-right: 3px;
	margin-bottom: 40px;
}

.background {
	flex-direction: column;
	padding: 50px 10%;
	margin: 40px 40px;
	background-color: #fff;
}


.homeTitle {
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", serif;
	padding: 16px 16px;
	margin: 0 13px;
	margin-top: 15px;
}

.icoMenu {
	width: 60px;
	height: 60px;
}

.homePageActive {
	color: #ff473a;
	font-size: 0.5em;
	text-align: center;
}

.homeTitle .img {
	width: 30%;
	height: 40px;
	justify-content: flex-end;
}

.homeTitle span {
	font-family: "Montserrat", serif;
	font-size: 2em;
	font-weight: 800;
	letter-spacing: 0.1em;
	color: black;
	margin-bottom: 20px;
}

.background .homePhoto {
	flex-direction: column;
	margin: 5px 0%;
}

.background .homeText {
	color: black;
	flex-direction: column;
	margin-bottom: 30px;
	border-bottom: 1px solid #979797;
	padding: 15px 5px;	
}

.background .homeText .homeTextName {
	color: black;
	font-size: 0.5em;
	font-weight: 200;
	margin: 5px 0;
}

.background .homeText .homeTextName .label {
	color: black;
	font-size: 1em;
	font-weight: 200;
	width: 110px;	
}

.background .homeText .homeTextName .value {
	color: black;
	font-size: 1em;
	font-weight: 200;
	margin-left: 10px;	
}

.background .homeText .homeTextName .button {
	color: #ff473a;
	font-size: 1em;
	font-weight: 500;	
	cursor: pointer;	
}

.background .homeText .homeTextTitle {
	color: black;
	font-size: 0.8em;	
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	 
}

.background .homeText .homeTextTitle  .name {
	color: #ff473a;
	font-size: 0.9em;	
}

.background .homeText .homeTextTitle  .button {
	color: #ff473a;
	font-size: 0.6em;	
	cursor:pointer;
}


.background .homeText .homeTextLocation {
	color: #ff473a;
	font-size: 0.8em;
	margin: 15px 0;
}

.background .homeText .homeTextTitle {
	color: #ff473a;
	font-size: 0.8em;
	margin: 15px 0;
	flex-direction: row;
	justify-content: space-between;
}


.background .homeText .homeTextScore {
	color: black;
	font-size: 0.3em;
	margin: 0px 15px;
	margin-bottom: 50px;
}

.background .homeButton {
	flex-direction: row;
	justify-content: space-around;	
}

.background .featureSummary {
	flex-direction: column;		
}

.background .featureSummary .title {
	flex-direction: column;
	margin: 15px 0;	
}

.background .featureSummary .title .primary {
	color: black;
	font-size: 0.7em;
	margin: 25px 0;
	
}

.background .featureSummary .title .name {
	color: black;
	font-size: 0.5em;	
	
}



.background .homeButton button {
	padding: 30px 50px ;
	width: 32.5%!important;	
	font-size: 28px;
}


.background .homeAddress {
	position: fixed;
	bottom: 0px;
}

.background .homeAddress .homeAddressBase {
	width: 50%;
	margin-bottom: 10px;
}

.background .homeAddress img {
	margin: 10px 10px;
}

.background .homeAddress span {
	font-size: 0.3em;
	color: #ff473a;
	line-height: 20px;
}

.menuBackground {
	display: none;
	position: absolute;
	z-index: 100;
	width: 100vw;	
}

.menuButtonRight {
	background-color: rgba(0, 0, 0, 0.7);
	width: 20vw;
	cursor: pointer;
}

.menuButtonRight:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.menuButtonRight:active {
	background-color: rgba(0, 0, 0, 0.4);
}

.menuBackgroundBase {
	background-color: #ff473a;
	width: 80vw;	
	flex-direction: column;
	padding-top: 15px;
}

.menuBackground .line {
	align-items: center;
	cursor: pointer;
	height: 90px;
}

.menuBackgroundBase .lineHover {
	flex-direction: column;
	padding: 5px;
	border-bottom: 1px solid #cf4035;
}

.menuBackgroundBase .lineHover :hover {
	background: #cf4036;
}

.menuBackground .ico {
	padding: 1px 1px;
	width: 20%;
}

.menuBackground .content {
	flex-grow: 1;
	font-size: 0.5em;
	font-weight: 300;
}

.menuBackground .contentClose {
	flex-grow: 1;
	font-size: 0.5em;
	font-weight: 600;
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.menuBackground .ico img {
	padding: 15px 20px 15px 20px;
	width: 45px;
	font-weight: 700;
}

.menuBackground .content input {
	flex-grow: 1;
	margin-right: 30px;
}

#logo {
	cursor: pointer;
}

.background .eventSearch {
	margin: 0 20px;
	padding: 10px 10px;
	flex-direction: column;
}

.background .eventSearch .eventSearchBase {
	border: 2px solid #ff473a;
}

.background .eventSearch img {
	padding: 10px 15px;
}

.background .eventIndicator {
	color: #ff473a;
	font-size: 0.3em;
	margin-left: 27px;
	text-decoration: underline;
}

.background .eventBoxBase {
	flex-wrap: wrap;
	margin: 30px 30px;
}

.background .eventBox {
	flex-direction: column;
	width: 47%;
	margin-top: 10px;
	padding-right: 3%;
}

.background .eventBox img {
	flex-grow: 1;
}

.background .eventBox span {
	font-size: 0.25em;
	color: #ff473a;
	padding: 5px 0;
}

.buttonSelected {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(243, 243, 243);
	color: black;
	padding: 25px 0;
	cursor: pointer;
}

.buttonSelected>label {
	display: flex;
	margin-left: 50px;
	font-size: 0.62em;
}

.buttonSelected>img {
	display: flex;
	margin-right: 50px;
	width: 25px;
	height: 25px;
}

.registerButtonSave {
	display: flex;
	flex-direction: column;
}

.registerButtonSave button {
	margin: 120px 80px 0 80px;
}

.evolutionText {
	display: flex;
	flex-direction: column;
	margin: 15px 30px;
}

.evolutionText .evolutionTitle {
	font-family: "Montserrat", serif;
	font-size: 0.9em;
	color: #000;
}

.evolutionText .evolutionIndicator {
	margin: 4px 0;
	color: #ff473a;
	font-size: 0.4em;
}

.evolutionTabs {
	display: flex;
	color: #000;
	flex-direction: row;
}

.evolutionTabs div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 0.6em;
	border-bottom: 3px solid #f4f5f2;
	width: 33%;
	padding: 15px 0;
	color: #000;
}

.evolutionTabs>:nth-child(1) {
	display: flex;
	color: #d4d4d4;
}

.evolutionTabs>:nth-child(2) {
	display: flex;
	color: #000;
	border-bottom: 5px solid #ff473a;
}

.evolutionTabs>:nth-child(3) {
	display: flex;
	color: #30c2ff;
}

.evolutionStatus {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0;
}

.evolutionStatus {
	color: #000;
	font-size: 0.5em;
	margin: 0 150px;
	word-wrap: break-word;
	text-align: center;
}

.evolutionSelecteds {
	display: flex;
	font-size: 0.5em;
	justify-content: space-between;
	padding: 15px 45px;
}

.evolutionSelecteds .text {
	display: flex;
	flex-direction: column;
}

.evolutionSelecteds .text div {
	display: flex;
	color: #000;
	font-family: "Montserrat", serif;
	font-size: 1em;
	font-weight: 500;
}

.evolutionSelecteds .text>:nth-child(2) {
	display: flex;
	font-size: 0.6em;
	letter-spacing: 1px;
	color: #d4d4d4;
}

.evolutionSelecteds .inputs {
	display: flex;
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #000;
	flex-direction: row;
	align-items: center;
}

.evolutionSelecteds .inputs .BT {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	font-weight: 700;
	border: 1px solid #000;
	width: 40px;
	height: 40px;
	margin: 0 10px;
}

.evolutionSelecteds .inputs .BT div {
	color: #000;
}

.evolutionSelecteds .inputs .text {
	display: flex;
	font-size: 1.2em;
	color: #000;
}

.background .frequencyText {
	color: black;
	flex-direction: column;
	margin-bottom: 15px;
}

.background .frequencyText .frequencyTextTitle {
	color: black;
	font-size: 0.9em;
	font-weight: 700;
	margin: 15px 15px;
}

.background .frequencyText .frequencyTextText {
	color: rgb(71, 71, 71);
	font-weight: 200;
	text-align: justify;
	font-size: 0.3em;
	margin: 10px 15px;
}

.background .form {
	color: black;
	flex-direction: column;
	margin: 5px 15px;
}

.background .form  input {
	color: black;
	flex-direction: column;
	padding: 10px 15px;
	width: 350px;
}

.background .form .row {
	color: black;	
	align-items: center;
	margin: 0;
}

.background .label-text {
	color: black;	
	font-size: 0.5em;
	width: 150px;
}

.background .label-value {
	color: black;	
	font-size: 0.5em;	
	width:100%;
}

.background .grid {
	display: flex;
	flex-direction: column;		
}

.background .grid .grid-title {
	flex-direction: row;	
	border-bottom: 1px solid #979797;
}

.background .grid .grid-col {
	color: #000000;	
	flex-grow: 10;
	font-size: 0.3em; 
	text-align: left;
	margin: 4px 4px;
}


.background .grid .grid-box-collumn {
	flex-direction: column;
}

.background .grid .grid-row {
	color: #000000;	
	flex-grow: 10;
	font-size: 0.6m; 
	text-align: left;
	margin: 4px 4px;
	border-bottom: 1px solid #979797;
}

.noBorder {
	border: none!important;
}


.w25p {
	width: 25%;
}

.w50p {
	width: 50%;
	background: #000000;
}


